---
import BaseLayout from "../layouts/BaseLayout.astro";
const names = [
  "+Labio",
  "+Nzo",
  "+Nomo",
  "Dis+",
  "M+",
  "Impi+",
  "Zoro+",
  "+Razzo",
  "Salm+",
];
---

<BaseLayout title='Astro...'>
  <ul>
    {names.map((name) => <li class='skill'>{name}</li>)}
  </ul>
</BaseLayout>
